:root {
  --primary: #00386d;
  --secondary: #337ab7;
  --white: #fff;
  --gray: #9b9b9b;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  -moz-appearance: textfield;
}

.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 50%;
}

.form__field {
  font-family: inherit;
  flex-grow: 1;
  border: 0;
  border-bottom: 2px solid var(--gray);
  outline: 0;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;


  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown~.form__label {
    cursor: text;
  }
}

.form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  color: var(--gray);
}

.form__field:focus {
  ~.form__label {
    position: absolute;
    transition: 0.2s;
    color: var(--primary);
  }

  border-image: linear-gradient(to right, var(--primary), var(--secondary));
  border-image-slice: 1;
}

/* reset input */
.form__field {

  &:required,
  &:invalid {
    box-shadow: none;
  }
}